<div class="row">
    <div class="col-md-4" *ngFor="let news of newsList;">
      <div class="card mb-4 shadow-sm">
        <img src="{{news.urlToImage}}" class="img-fluid">
        <div class="card-body">
          <p class="card-text">{{news.title}}</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
            </div>
            <small class="text-muted">{{news.publishedAt}}</small>
          </div>
        </div>
      </div>
    </div>
    
  </div>